arxiv
chromadb
crawl4ai
ddgs
duckduckgo-search
fastapi
fpdf2
groq
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-ollama
langgraph
npm
pydantic
pymupdf4llm
pypdf
python-dotenv
python-multipart
uvicorn
youtube-transcript-api
playwright
sentence-transformers
